[submodule "docs/AVeryKerbalChristmas"]
	path = docs/AVeryKerbalChristmas
	url = https://github.com/zer0Kerbal/AVeryKerbalChristmas.git
[submodule "docs/docs/AVeryKerbalChristmas"]
	path = docs/docs/AVeryKerbalChristmas
	url = https://github.com/zer0Kerbal/AVeryKerbalChristmas.git
